@import '../../../styles/styles';

.movie-schedule{
    width: 100%;
    height: 100%;
    
    margin-top: 24px;
    padding-left: 14px;

    border-left: 1px solid #ccc;

    .movie-item{
        display: flex;
        padding-bottom: 30px;
        .movie-img{
            height: 200px;
            width: 200px;
            margin-right: 50px;
        }

        .movie-content{
            color: #fff;
            font-size: 20px;
            text-transform: capitalize;
        }
    }
}