@import '../../../../styles/styles';

.cinema-schedule{
    margin-bottom: 40px;
    .theater-name{
        text-align: left;
        // padding-top: ;
    }

    .icon{
        vertical-align: text-bottom;
        padding-bottom: 4px;
    }
}
